/* Navigationsbaren */
/*
.linje1 {
  border-right: 3px solid;
  border-color: white;
  margin-right: 350px;
}
*/

#navbar ul {
    width: 65%;
    float: right;
}

.logo1 {
    Width: 15%;
}

#navbar li {
        display: inline; 
    }

#navbar {
    background-color: rgb(0, 0, 0);
}

#navbar a{
text-decoration: none;
color: #fff;
padding: 15px;
font-size: 12px;
font-family: 'Raleway', Arial, sans-serif;
}

#navbar .a1:hover,#navbar .a2:hover,#navbar .a3:hover,#navbar .a4:hover,#navbar .a5:hover,#navbar .a6:hover,#navbar .a7:hover,#navbar .a8:hover,#navbar {
    color: rgb(255, 0, 34);
    transition: 1.0s; 
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

body {
    background-color: #262424;
    margin: 0px;
}

/* Rum ID */
.Mainbtn {
    height: 150px;
    width: 150px;
}

 .Main {
    height: 150px;
    width: 150px;
    background-color: rgb(11, 8, 182);
    background-image: linear-gradient(rgb(11, 8, 182), rgb(218, 218, 218));
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    font-family: fantasy;
    color: #fff;
  }

  .Main p {
    position: relative;
    font-size: 125%;
  }
  
  .pcikon {
    width: 50px;
    height: 40px;
  }

  .pcikon2 {
    width: 50px;
    height: 40px;
  }

  .Ignite p {
    position: relative;
    font-size: 125%;
  }
  
  .Ignite {
    height: 150px;
    width: 150px;
    background-color: rgb(223, 88, 35);
    background-image: linear-gradient(red, rgb(218, 218, 218));
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    font-family: fantasy;
    color: #fff;
  }

  
  .Main:hover {
    animation: 3s ease-in-out infinite color-change;
    cursor: pointer;
  } 

  @keyframes color-change {
      0% {
        background-color: rgb(11, 8, 182);
        background-image: linear-gradient(rgb(11, 8, 182), rgb(218, 218, 218));
      }

      50% {
        background-color: rgb(11, 8, 182);
        background-image: linear-gradient(black, rgb(218, 218, 218));
      }

    }

    .Ignite:hover {
        animation: 3s ease-in-out infinite color-change;
        cursor: pointer;
      } 
    
      @keyframes color-change {
          0% {
            background-color: rgb(223, 88, 35);
            background-image: linear-gradient(red, rgb(218, 218, 218));
          }
    
          50% {
            background-color: rgb(223, 88, 35);
            background-image: linear-gradient(rgb(0, 0, 0), rgb(218, 218, 218));
          }
    
        }
    

/*main room Infoknap*/
  .i1 {
      font-family: Georgia, 'Times New Roman', Times, serif, italic;
      float: right;
      background-color: #fff;
      color: black;
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }
    
    .i1 p {
    bottom: 22px; 
    }
  /*Ignite Room Infoknap*/
  .i2 {
    font-family: Georgia, 'Times New Roman', Times, serif, italic;
      float: right;
      background-color: #fff;
      color: black;
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }

    /* infoknap1 test */ 
       /* infoknap test */
       .i1 p {
        bottom: 22px; 
        }
        .infoknap1{
          background:#F8F8F8;
          border: 5px solid #DFDFDF;
          color: #717171;
          font-size: 13px;
          height: 150px;
          width: 200px;
          letter-spacing: 1px;
          line-height: 30px;
          position: relative;
          text-align: center;
          text-transform: uppercase;
          top: -290px;
          left: -213px;
          display:none;
          padding:0 20px;
          
      }
      .infoknap1:after{
          content:'';
          position:absolute;
          bottom:-10px; 
          width:10px;
          height:10px;
          border-bottom:5px solid #dfdfdf;
          border-right:5px solid #dfdfdf;
          background:#f8f8f8;
          left:50%;
          margin-left:-10px;
          -moz-transform:rotate(45deg);
          -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
      }
      .infoknap1{
          margin:100px;
          float:left;
          position:relative;
          cursor:pointer;
      }
      
      .i1:hover .infoknap1{
          display:block;
      }

    /* infoknap test */
    .i2 p {
        bottom: 22px; 
        }
        .infoknap2{
          background:#F8F8F8;
          border: 5px solid #DFDFDF;
          color: #717171;
          font-size: 13px;
          height: 180px;
          width: 200px;
          letter-spacing: 1px;
          line-height: 30px;
          position: relative;
          text-align: center;
          text-transform: uppercase;
          top: -320px;
          left:-213px;
          display:none;
          padding:0 20px;
          
      }
      .infoknap2:after{
          content:'';
          position:absolute;
          bottom:-10px; 
          width:10px;
          height:10px;
          border-bottom:5px solid #dfdfdf;
          border-right:5px solid #dfdfdf;
          background:#f8f8f8;
          left:50%;
          margin-left:-10px;
          -moz-transform:rotate(45deg);
          -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
      }
      .infoknap2{
          margin:100px;
          float:left;
          position:relative;
          cursor:pointer;
      }
      
      .i2:hover .infoknap2{
          display:block;
      }
      

/* Variable Buttons */
/* Antal besøgende Rubrik */
.dropbtn1 {
    width: 187px;
    height: 30%;
    background-color: #0d0464;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin: 6px;
    margin-top: 10px;
}

/* Dato Rubrik */
.datobtn2 {
    width: 155px;
    height: 20%;
    background-color: #0d0464;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin: 6px;
    margin-top: 10px;
}

/* Start og Slut Tid Rubrik */
/* Start Tid Rubrik */
.starttidbtn3 {
    width: 155px;
    background-color: #0d0464;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin: 6px;
    border-bottom: 30px;
}


#roomcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.antaldato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}


/* Bookingformular */
section{
    background-color: pink;
    width: 35%;
    margin: 40px auto;
    border-radius: 4px;
    border: 5px solid white;
}
article div{
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
}
article label{
  margin-left: 40px;
  color: rgb(0, 0, 22);
}
article input {
  width: 85%;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 40px;
  box-sizing: none;
  background: pink;
  border: none;
  font-size: medium;
  border-bottom: 1px solid rgb(1, 1, 51);
}
::placeholder{
  color: rgb(148, 148, 148);
}
article #checkbox1{
width: 15px;
}
article .check1{
  margin-left: 0;
  font-family: 'Raleway', sans-serif;
}
article #checkbox2{
  width: 15px;
}
article .check2{
  margin-left: 0;
  font-family: 'Raleway', sans-serif;
}
article .Booking {
  font-size: 16px;
}
article button{
position: relative;
left: 41px;
color: #fff;
background-color: #000;
padding:  19,px 5px,6px;
border-radius: 1,92px;
cursor: pointer;
box-sizing: border-box;
}

/* Kvitteringsside */
article .Tak{
text-align: center;
color: white;
}
article .Velkommen{
  text-align: center;
  color: white;
}
article .tforside{
  width: 10%;
  margin-left: 818px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer; 
}

/* CSS TIL PLADSVALG */
/*  (Bookingsystem) */

@import url("https://fonts.googleapis.com/css?family=Sigmar+One&display=swap");

:root {
  --back-color: rgba(0, 0, 0, 0.9);
  --main-color: rgb(246, 4, 53);
  --main-seat: rgb(20, 173, 0);
  --main-selected: rgb(1, 37, 243);
  --main-occupata: rgb(246, 4, 53);
  
}


/* Tekst format ledig, Dit valg, Optaget. */
* {
  font-family: "Arial", sans-serif;
}

/* Baggrundsfarve, konfiguration osv */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  background: var(--back-color);
}


/* Samler de 3 øverste blok, og giver teksten hvid. */
.cinemaInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

/* De øverste blokke ledig, Dit valg, Optaget. */
.seat.info {
  background: var(--main-seat);
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.4rem;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}

/* Design af sidepladserne */
.sideplads {
  background: var(--main-seat);
  height: 2rem;
  width: 2rem;
  margin: 0.2rem;
  padding: 0.2rem;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  cursor: grab;
  perspective: 100px;
  transition: all 0.2s linear;
}

/* Farven når du holder på sidepladserne */
.sideplads:not(.occupata):hover {
  background: 
  rgb(1, 37, 243);
  transform: scale(1.1);
}

/* Grøn farve for ledig */
.sedia.occupata {
  background: var(--main-occupata);
  cursor: default;
}

/* Rød  farve for Optaget */
.seat.info.occupata {
  background: var(--main-occupata);
  cursor: default;
}

/* Blå farve for "Dit valg" */
.seat.info.selezionata {
  background: var(--main-selected);
  cursor: default;

}
/* Mellemrum mellem de 4 blok */
.sideplads:nth-of-type(3) {
  margin-right: 50px;
}

.sideplads:nth-child(6) {
  margin-left: 50px;
}
.sideplads:nth-last-of-type(2) {
  margin-left: 50px;
}

/* Sætter sidepladserne side om side */
div.row {
  display: flex;
 
}

/* Giver mellemrum mellem tekst og sidepladser */
div.caferow {
  margin-top: 30px;
}

.vip1:nth-of-type(3) {
  margin-right: 0px;
}


.vip1:nth-child(6) {
  margin-left: 0px;
}

.vip1:nth-last-of-type(6) {
  margin-right: 50px;
}

.vip1:nth-last-of-type(2) {
  margin-left: 0px;
}


